__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints
.env
venv/
*.h5
*.pt
*.pth

# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
sysinfo.txt
*.stackdump

.DS_Store
Thumbs.db